/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* RESET global */

body {
  font-family: "inter", sans-serif;
  max-width: 1000px;
}

#cabecalho img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 15px rgb(0, 0, 0);
  padding: 10px;
}

#header {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #1a0057;
  font-size: 20px;
  height: 300px;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}

#sobre {
  font-size: 50px;
  color: blue;
}

#tittle {
  height: auto;
  width: 100%;
  top: 0;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.conteiner {
  padding: 20px;
  font-family: "kalan";
  justify-content: space-between;
  height: 50%;
  list-style-type: none;
  background-color: rgb(163, 153, 153);
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center
  

}


#main {
  background-color: rgb(187, 252, 231);
  color: rgb(0, 6, 5);
  width: 100%;
  border: 2px solid black;
}


.interese {
  color: blue;
  display: flex;
  background-color: rgb(163, 153, 153);
  list-style-type: none;
  justify-content: center;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content:space-around;
  padding: 10px;
  overflow: hidden;
  
}

#interese{
  align-items: center;
}


#linguas {
  align-items: center;
}

#resto {
  display: flex;
  font-family: "kalan";
  h1{
    color: blue;
  }
  h2{
    color: blue;
  }li{
    color: blue;
  }
}